

@charset "utf-8";

@import "common.css";

#banner {



    height: 400px;

    width: 100%;

}

#banner .banner .banner_txt {

    float: left;

    width: 380px;

}

#banner .banner .banner_img {

    float: right;

    margin: 0;

    padding: 130px 0 0;

    width: 590px;

}

#Map {

    cursor: pointer;

}

#content {

    clear: both;

	overflow:hidden;

    margin: 0 auto 20px;

    padding: 0;

    width: 960px;

}

#content .company {

    float: left;

    width: 480px;

}

.company .company_img {

    float: left;

}

.company .company_txt {

    float: right;

    width: 360px;

}

.content a {

    color: #666666;

    font: 12px/18px "宋体";

    text-decoration: none;

}

.content a:hover {

    color: #137852;

    font: 12px/18px "宋体";

    text-decoration: underline;

}

.company_txt .bold {

    color: #888886;

    font-weight: bold;

}

#content .case {

    float: right;

    width: 410px;

}

.case .case_img {

    float: left;

}

.case .case_txt {

    float: right;

    width: 240px;

}

.case_txt .conent li {

    color: #666666;

    font: 12px/18px "宋体";

}

.case_txt .conent li a {

    color: #666666;

    font: 12px "宋体";

    text-decoration: none;

}

.case_txt .conent li a:hover {

    color: #137852;

    font: 12px/18px "宋体";

    text-decoration: underline;

}

#brand {

    background: none repeat scroll 0 0 #DAB866;

    height: 60px;

    width: 100%;

}

#brand .brand_content {

    margin: 0 auto;

    padding: 0;

    width: 960px;

}

.brand_txt {

    float: left;

    margin: 0;

    padding: 20px 0 0;

}

.brand_img {

    float: right;

    margin: 0;

    padding: 5px 0 0;

}


#lunbo{
                margin: 0 auto;
                width:100%;
                height: 366px;
                position: relative;
                overflow: hidden;
            }
            #lunbo ul{
                list-style: none;
            }
            
            #lunbo .xiaoyuandian{
                z-index: 1000;
                position: absolute;
                bottom: 0;
                left:230px;
                height: 25px;
                width: 200px;
              
            }
            #lunbo .xiaoyuandian ul{
                list-style: none;
                

            }
            #lunbo .xiaoyuandian ul li{
                float: left;
                width: 14px;
                height: 12px;
                background: url(../images/cycle.png) no-repeat 0px 0px;
                margin-right: 3px;
                cursor: pointer;
            }
            #lunbo .xiaoyuandian ul li.cur{
                background: url(../images/cycle.png) no-repeat -20px -0px;
            }
            #lunbo #zhezhao{
                width:100%;
                height: 366px;
                background-color: white;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
                opacity: 0;
            }
#lunbo .anniu .zuo{
                display: block;
                width: 45px;
                height: 45px;
                background: url(images/png24.png) no-repeat 0 0;
                position: absolute;
                top: 40%;
                left: 10px;
                cursor: pointer;
                z-index: 2;
            }
            #lunbo .anniu .you{
                display: block;
                width: 45px;
                height: 45px;
                background: url(images/png24.png) no-repeat 0 -45px;
                position: absolute;
                top: 40%;
                right: 10px;
                cursor: pointer;
                z-index: 2;
            }
